version: '3'
services: 
  app: 
    build: "."
    environment: 
      SPRING_DATASOURCE_URL: "spring.datasource.url=jdbc:mysql://database:3306/elevator?serverTimezone=UTC&useLegacyDatetimeCode=false"
    ports: 
      - "8080:8080"
  database: 
    container_name: database
    environment: 
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=elevator
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    image: "mysql:8.0"
    ports: "-3306:3306"
    volumes: 
      - "data-volume:/var/lib/mysql"
version: "3"
volumes: 
  data-volume: ~
