version: '3'

services:
  database:
    container_name: database
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=elevator
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    ports:
      - 3306:3306
	volumes:
	  - data-volume:/var/lib/mysql  

  app:
    build: .
    ports:
       - 8080:8080
    environment:
      SPRING_DATASOURCE_URL: spring.datasource.url=jdbc:mysql://database:3306/elevator?serverTimezone=UTC&useLegacyDatetimeCode=false
    depends_on:
       - database
	   
volumes:
   data-volume:	   
